---
---

@import "{{ site.theme }}";

img[alt="Build Status"] {
	margin: 0;
	padding: 0;
	border: none;
}

th:nth-child(even) {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#project_title a {
	color: inherit;
	text-shadow: inherit;
}