---
---

@import "{{ site.theme }}";

img[alt="Build Status"] {
	margin: 0;
	padding: 0;
	border: none;
}

th:nth-child(even) {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#project_title a {
	color: inherit;
	text-shadow: inherit;
}

h2.post_title {
	padding-bottom: 0px;
	background: none;
	letter-spacing: 0px;
	margin: 10px 0px 5px 0px;
}

div.post_title {
	padding-bottom: 10px;
	background: url(../images/bg_hr.png) repeat-x bottom;
}